<div class="navbar-inner">
  	<div class="container" >
  		<div class="row">
			<div class="span2"><h4>Sign up</h4></div>
			<div style="padding-top:100px;"></div>
			<div class="span6" style="margin-left: 300px;">
				<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
				  <%= devise_error_messages! %>

				  <div><%= f.label :email %>
				  <%= f.email_field :email %></div>

				  <div><%= f.label :password %>
				  <%= f.password_field :password %></div>

				  <div><%= f.label :password_confirmation %>
				  <%= f.password_field :password_confirmation %></div>

				  <div><%= f.submit "Sign up" %></div>
				<% end %>
			</div>
			
			<div style="padding-top:300px;"></div>
			<%= render "devise/shared/links" %>
			<div style="padding-top:500px;"></div>
		</div>
	</div>
</div>
