<!DOCTYPE html>
<html>
<head>
  <title>RSSFeed</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render :partial=>"home/rss_header"%>
<%= yield %>

</body>
</html>
